.cardInformation{
    margin: auto;
    width: 40%;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid black; 
    h3{
        color: green;
    }
    dd{
        color: red;
        padding: 10px;
        margin: 10px;
    }
}